.icon-nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 50px;
  margin-top: 100px;
  box-shadow: 2px 8px 2px rgba(0, 0, 0, 0.4);
  ul {
    list-style-type: none;
  }
  li {
    height: 60px;
    position: relative;
    &:nth-child(1) a {
      background-color: #e17b77;
    }
    &:nth-child(2) a {
      background-color: #3b5998;
    }
    &:nth-child(3) a {
      background-color: #00aced;
    }
    &:nth-child(4) a {
      background-color: #007bb6;
    }
    &:nth-child(5) a {
      background-color: #333;
    }
  }

  a {
    overflow: hidden;
    color: white;
    display: block;
    width: 80px;
    height: 100%;
    line-height: 60px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  a:hover {
    width: 200px;
  }

  i {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 33px;
    font-size: 40px;
    transform: scale(1.5);
  }
  ul li a span {
    letter-spacing: 1px;
    text-transform: uppercase;
    display: none;
  }
  ul li a:hover span {
    display: block;
    text-align: center;
  }
}
