@import "./constants";


.grid {
  position: relative;
  min-height: 100%;
  background-color: $grey;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 100%));
  overflow: hidden;
  gap: 0.7em;

  .portfolio {
    gap: 0.7em;
    margin: 1em;
    img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 10px solid;
      object-fit: cover;
      padding: 1em;
    }
  }
}
.button {
  position: absolute;
  opacity: 0;
  align-items: center;
  transform: translate(160px, -220px);
  text-decoration: none;
  text-align: center;
  background-color: rgb(68, 68, 192);
  border: 1px solid rgb (68, 68, 192);
  padding: 0.7em;
  color: white;
  border-radius: 5px;
}
.portfolio:hover .image {
  opacity: 0.4;
}
.portfolio:hover .button {
  opacity: 1;
  position: absolute;
}

@media screen and (max-width: 400px){
  .grid{
    grid-template-columns: 1fr;
  }

}
