@import "./constants";

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.portfolio {
  position:relative;
  width: 550px;
  height: auto;
  border-radius: 10px;
  background-color: $grey;
  overflow:hidden ;
  justify-content:center;
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display:block;
    
  }
}
.button {
  position: absolute;
  opacity: 0;
  align-items: center;
  transform: translate(160px, -220px);
  text-decoration: none;
  text-align: center;
  background-color: rgb(68, 68, 192);
  border: 1px solid rgb (68, 68, 192);
  padding: 0.7em;
  color: white;
  border-radius: 5px;
}
.portfolio:hover .image {
  opacity: 0.4;
}
.portfolio:hover .button {
  opacity: 1;
  position: absolute;
}

@media (min-width: 768px) {
  .container {
      display:grid;
      gap:15px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }}
  @media (min-width: 1024px) {
    .container {
        display:grid;
        gap:15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
