@import"./portfolio";
@import"./constants";
@import"./buttons";


body {
  background-color: #c3cfe2;
  font-family: sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgb(44, 44, 44);
  max-width: 400px;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  p {
    color: rgb(80, 78, 78);
    text-align: center;
    line-height: 1.5em;
    padding: 2.2em;
    font-size: 1.3em;
  }
  .card-footer {
    box-shadow: 0 4px 8px 0 rgb(44, 44, 44);
    background-color: #686de0;
    color: white;
    border-radius: 0 0 20px 20px;

    h3 {
      padding-bottom: 0;
      margin: 0;
    }
    p {
      color: rgb(214, 214, 214);
      padding-top: 0;
      margin: 0;
    }
    img {
      border-radius: 100px;
      border: white 5px solid;
      object-fit: cover;
      margin-top: -50px;
    }
  }
}
